fastapi
uvicorn[standard]
pydantic
llama-index==0.9.13
sentence-transformers
transformers>=4.30.0
torch>=2.0.0
python-dotenv
hf_xet
langdetect==1.0.9
sacremoses  # برای پشتیبانی بهتر از tokenization
sentencepiece  # مورد نیاز برای mT5
accelerate  # برای بهینه‌سازی مدل‌های بزرگ
protobuf  # مورد نیاز برای BLOOMZ